body {
    background-image: url(ParempiKenttä.jpg);
}
.button2 {
    background: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transform: perspective(1px) scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}
.button2:hover {
    transform: perspective(1px) scale(1);
}
table { 
    color: black;
    border-color: black;
    background-color: wheat;    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.scoutkuvat {
    display: flex;
}
.scoutkuva img {
    width: 50px;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}